$gray-200: #e9ecef !default;
$gray-600: #6c757d !default;
$gray-900: #212529 !default;
$primary: #0d6efd !default;
$light: $gray-200 !default;

$border-radius: 0.5rem !default;
$border-radius-sm: $border-radius !default;
$border-radius-lg: $border-radius !default;

$form-floating-label-opacity: 1 !default;
$form-label-color: $gray-600 !default;
$form-label-margin-bottom: 0.25rem !default;

$navbar-light-active-color: $primary !default;
$navbar-light-brand-color: $gray-900 !default;
$navbar-light-brand-hover-color: $gray-900 !default;
$navbar-light-hover-color: $gray-900 !default;
$navbar-padding-y: 0.25rem !default;
$nav-link-font-size: 1.25rem !default;

$enable-validation-icons: false !default;
$headings-margin-bottom: 1rem !default;
$link-decoration: none !default;

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

* {
    outline: none;
}

.container {
    max-width: 960px;
}

.image-preview {
    width: 3.65rem;
    height: 3.65rem;
    background-position: center;
    background-size: cover;
}

.navbar-brand img {
    width: auto;
    height: 1.85rem;
}

.text-muted a {
    color: inherit;
}
